# Ignore .DS_Store
.DS_Store

# gameplay/backup
**/backup/*

# captures
**/captures/*

# pycache
*/__pycache__/*

# Zip files
*.zip

# Any "files" folders from Claude zips
*/files/*

# Database files (can be recreated)
*.db
